{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Password Manager{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon-16x16.png' %}"/>
</head>
<body>
  <nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand"  href="{% url 'site_list' %}">
      <img src="{% static 'images/logo.png' %}" width="30" height="30" alt=""  class="m-3">
      Gestionnaire de mot de passe de {{user}}
    </a>
    <a class="navbar-brand m-3" href="{% url 'site_list' %}"></a>

    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post" class="m-3">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Logout</button>

    </form>
    {% endif %}

  </nav>
  <div class="container pt-3">
  {% block body %}

  {% endblock %}
  </div>
</body>
</html>
<script>
  {% block script %}
  {% endblock %}
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>