{% extends "main_template.html" %}

{% block title %}
{% if site.pk %}
Editer Site
{% else %}
Ajouter Site
{% endif %}
{% endblock %}
{% block body %}
<div class="container pt-3 w-50">

    <h2 class="py-4">
        {% if site.pk %}
        Editer: {{site.name}}
        {% else %}
        Ajouter Site
        {% endif %}
    </h2>
    {% if site.pk %}
    <form action="/sites/edit/{{ site.id }}/" method="POST" class="needs-validation" novalidate>
        {% else %}
        <form action="/sites/add/" method="POST" class="needs-validation" novalidate>
            {% endif %}
            {% csrf_token %}

            <div class="form-floating mb-3">
                {{ form.name }}
                <label for="{{ form.name.id_for_label }}">Nom du site</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.url }}
                <label for="{{ form.url.id_for_label }}">URL du site</label>
            </div>

            <div class="form-floating mb-3">
                {{ form.user }}
                <label for="{{ form.user.id_for_label }}">Nom de l'utilisateur</label>
            </div>

            <div class="mb-3 d-flex col">
                <div class="col form-floating">
                    <input value="{{ form.pswd.value|default:'' }}" type="password" name="{{ form.pswd.name }}"
                        class="form-control rounded-0 rounded-start" id="{{ form.pswd.id_for_label }}"
                        placeholder="Mot de passe" required>
                    <label for="{{ form.pswd.id_for_label }}">Mot de passe</label>
                </div>
                <button type="button" class="btn btn-secondary rounded-0 rounded-end"
                    onclick="togglePasswordVisibility('{{ form.pswd.id_for_label }}')" style="min-width: 88px">
                    <span id="eye-text">Afficher</span>
                </button>

            </div>

            <div class="d-flex justify-content-center"><button type="submit"
                    class="btn btn-primary p-2 my-3 w-50">Submit</button>
            </div>
        </form>
</div>

{% endblock %}

{% block script %}
function togglePasswordVisibility(passwordFieldId) {
var passwordField = document.getElementById(passwordFieldId);
var eyeText = document.getElementById("eye-text");

if (passwordField.type === "password") {
passwordField.type = "text";
eyeText.textContent = "Masquer";
} else {
passwordField.type = "password";
eyeText.textContent = "Afficher";
}
}
{% endblock %}