{% extends "main_template.html" %}

{% block body %}

<h2 class="py-4">Liste de sites</h2>
<a type="button" class="my-3 btn btn-primary" href="{% url 'site_add' %}">+ Ajouter un site</a>

{% if sites|length > 0 %}

<a type="button" class="my-3 btn btn-secondary mx-1" href="{% url 'export_as_csv' %}">Télécharger CSV</a>

<table class="table mt-3">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Url</th>
			<th scope="col">User</th>
			<th scope="col">Password</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for site in sites %}
		<tr>
			<td>{{ site.name }}</td>
			<td>{{ site.url }}</td>
			<td>{{ site.user }}</td>
			<td><input value="{{ site.pswd|default:'' }}" type="password" name="password_{{ site.pk }}" class="form-control" id="password_{{ site.pk }}" placeholder="Mot de passe" disabled></td>
            <td class="d-flex">
                <button type="button" class="btn btn-secondary mx-1" onclick="togglePasswordVisibility('password_{{ site.pk }}')" style="min-width: 87.7px">
                    <span id="eye-text_{{ site.pk }}">Afficher</span>
                </button>

				<a type="button" class="btn btn-primary mx-1" href="{% url 'site_edit' pk=site.pk %}">Editer</a>
				<button type="button" class="btn btn-danger mx-1" id="deleteButton" onclick="confirmDelete({{ site.pk }})">
					Supprimer
				</button>
			</td>
		</tr>
		{% endfor %}
		</ul>
		{% else %}
		<p style="display: flex; justify-content: center; align-items: center">
			Il n'y a pas de sites dans la liste...
		</p>
		{% endif %}
		{% endblock %}

		{% block script %}
		function confirmDelete(key) {
			var result = confirm("Êtes-vous sûr de vouloir supprimer ce site?");
			if (result && key !== undefined && key !== '') {
				window.location.href = "{% url 'site_delete'%}?id=" + key;
			}
		}

        function togglePasswordVisibility(passwordFieldId) {
        var passwordField = document.getElementById(passwordFieldId);
        var eyeText = document.getElementById("eye-text_" + passwordFieldId.split('_')[1]);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeText.textContent = "Masquer";
        } else {
            passwordField.type = "password";
            eyeText.textContent = "Afficher";
        }
    }
		{% endblock%}