{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">

	<title>{% block title %}Registration{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <div class="container pt-3">
  {% block body %}
  {% endblock %}
  </div>
</body>
</html>
<script>
  {% block script %}
  {% endblock %}
</script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>