{% extends "registration_template.html" %}
{% block body %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white text-center">
          <h2>Se connecter</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
            {% endif %}

            <div class="mt-2 d-flex flex-column justify-content-center align-items-center">
              <div class="mb-3 d-flex flex-column">
                <label for="{{ form.username.id_for_label }}" class="form-label">Nom d'utilisateur</label>
                {{ form.username }}
              </div>
              
              <div class="mb-3 d-flex flex-column">
                <label for="{{ form.password.id_for_label }}" class="form-label">Mot de passe</label>
                {{ form.password }}
              </div>
            </div>

              <div class="my-2 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Se connecter</button>
              </div>

          </form>
        </div>
      </div>

      <div class="mt-3 text-center">
        <small>
          Pas encore inscrit.e?
          <a href="#">S'inscrire</a>
          <br>
          Mot de passe oublié ?
          <a href="#">Renouveler mon mot de passe</a>
        </small>
      </div>
    </div>
  </div>
</div>

{% endblock %}
