{% extends "registration_template.html" %}
{% block body %}
<div class="pt-5 text-center">
    <h2>Vous êtes déconnecté. </h2>
        <a href="{% url 'login' %}">Se reconnecter</a>
</div>
{% endblock %}